/* GENERAL */
:root {
    --background-dark-1: #1e1e1e;
    --background-dark-2: #404040;
    --background-dark-3: #464646;
    --background-dark-4: #5e5e5e;
    --background-dark-5: #dda142;
    --color-dark: #d0d0d0;
} 

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-size: 2rem;   
    font-family: 'Roboto', sans-serif;
    color: var(--color-dark);
}

body {
    margin: 0;
    padding: 0;
}

/* CONTENIDO */
main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--background-dark-1);
}

.calculadora {
    width: 320px;
    padding: 10px;
    background-color: var(--background-dark-2);
}

.calculadora__pantalla {
    width: 100%;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
    overflow: overlay;
}

.calculadora__pantalla::-webkit-scrollbar {
    height: 5px;
    background-color: var(--background-dark-1);
}

.calculadora__pantalla::-webkit-scrollbar-thumb {
    background-color: var(--background-dark-5);
    border-radius: 10px;
}

.calculadora__pantalla:focus {
    outline: none;
}

.calculadora__botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 55px;
    gap: 20px;
    margin: 10px;
}

.botones__boton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 25%;
    background-color: var(--background-dark-3);
    box-shadow: 0px 5px 10px 1px  var(--background-dark-1);
    transition: filter .25s;
}

.botones__boton.operador {
    background-color: var(--background-dark-4);
}

.botones__boton.operador:nth-child(1) {
    grid-column: 1 / 3;
    border-radius: 15%;
    background-color: var(--background-dark-4);
}

.botones__boton.igual {
    grid-column: 3 / 5;
    border-radius: 15%;
    background-color: var(--background-dark-5);
}

.botones__boton:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.botones__boton:active {
    transform: translateY(5px);
    box-shadow: 0px 3px 10px 1px  var(--background-dark-1);
}

.botones__boton span {
    color: var(--color-dark);
    font-size: 2.5rem;
}