/* GENERAL */
:root {
    --fondo: #1e1e1e;
    --calculadora: #404040;
    --botones1: #464646;
    --botones2: #5e5e5e;
    --boton-resultado: #dda142;
    --tipografia: #d0d0d0;
} 

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-size: 2rem;   
    font-family: 'Roboto', sans-serif;
    color: var(--tipografia);
}

body {
    margin: 0;
    padding: 0;
}

/* CONTENIDO */
main {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: var(--fondo);
}

.calculadora {
    max-width: 400px;
    padding: 10px;
    background-color: var(--calculadora);
}

.calculadora .pantalla {
    width: 100%;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    font-size: 2.5rem;
}

.calculadora .pantalla:focus {
    outline: none;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 10px;
}

.botones button {
    padding: 20px;
    border: none;
    border-radius: 25%;
    background-color: var(--botones1);
    box-shadow: 0px 5px 10px 1px  var(--fondo);
}

.botones .operador {
    background-color: var(--botones2);
}

.botones .igual {
    background-color: var(--boton-resultado);
}

.botones button:hover {
    cursor: pointer;
}

.botones button:active {
    transform: translateY(5px);
    box-shadow: 0px 3px 10px 1px  var(--fondo);

}